SUPABASE_URL=https://onqbnogccjfgihmmxrid.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_gvs6MsolBL25CTzxkjssew_xhNYup8S
API_PORT=3333
WEB_ORIGIN=http://localhost:5173

VITE_SUPABASE_URL=https://onqbnogccjfgihmmxrid.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gvs6MsolBL25CTzxkjssew_xhNYup8S
VITE_API_BASE_URL=/api
